body {
	background-color: #8F3C4B;
	color: #F7CC4A;
	
}
#header {
	position: fixed;
	background-color: #F7CC4A;
	color: #8F3C4B;
	width: 100%;
	top:0;
	left:0;
	z-index: 100;
}
.content {
	margin-top: 5em;
	position:relative;
}